/*navbar*/
label.logo{
	font-weight: bold;
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;

}

ul{
	float: right;

}


nav ul{
	float:right;
	margin: 0;

}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin:0 5px;
}

nav ul li a{
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	font-family: serif;
	text-shadow: 2px 2px 8px red;

}

nav li a:hover{
	background-color: rgba(91, 114, 71, 0.3);
	color: pink;

}

/*navbar*/

/*mediaquiry/**/

.checkbtn{
	font-size: 30px;
	color: white;
	float: left;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	
}


@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}


nav ul li a{
	font-size:  16px;
}



ul{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(23, 23, 23, 0.9);
	top: 80px;
	left: -100;
	text-align-last: center;
	transition: all 0.5s;

}

nav ul li{
	display: block;
	margin:50px 0;
	line-height: 30px;

}

nav ul li a{
	font-size: 20px;

}
a:hover,a.active{
	background: none;
	color:#0082e6;

}
}

/*mediaquiry/**/


/*mainpage*/


#footer-section{
	background: #0a0a0a;
	margin-top: 200px;
}


.socials h2{
	color: #fff;
	font-weight: bold;
    font-size: 35px;
   text-decoration: underline;
   
}

.socials p{
	font-size: 23px;
	color: white;
	text-decoration: underline;
}

body{
	background: url("img/bg1.png");
	height: 125vh;
	background-size: cover;
	background-repeat: no-repeat;


}


.Introduction {
	height: 290px;
	width: 500px;
	margin:20% 30%;
	text-align-last: center;
	color: white;
	font-size: 25px;
   
}

.Introduction h1{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 47px;
	text-shadow: 2px 2px black;



}

.Introduction a{
	border: 1px solid white;
	border-radius: 7px 7px 7px 7px;
	padding: 10px 25px;
	font-size: 25px;
	display: inline-block;
	color: black; 
	background-color: #96a9ab;
	text-shadow: 2px 2px 8px black;


}	

.Introduction a:hover{
	background-color: rgba(91, 114, 71, 0.3);
	color: rgba(110, 156, 196);
	transition: 0.9s;
}

/*mainpageend/**/



body.portfolio{
	list-style: none;
	background: url("img/bg2.jpg");
	height: 125vh;
	background-size: cover;
	background-repeat: no-repeat;
}


.holder {
  display: grid;
  grid-template-columns: 425px 450px 425px;
  grid-template-rows: 270px 270px;
  grid-gap: 7px;
  background-color: rgba(25, 25, 25, 0.5);
  padding: 10px;
}

.holder > div {
	background: rgb(225, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	color: rgb(25, 25, 25, 0.9);
}

.holder > div:hover{
	color: rgb(25, 25, 25, 0.0);

}

.item1{
	background: url(img/1a.jpg);
	grid-row: 1 / 3;
	transition: 0.4s;
	
}
.item1:hover{
	background: url(img/1.gif);
	color: black;


}

.item3{
	height: 189%;
	transition: 0.4s ease-in-out;

}

.item3:hover{
	background: url(img/waddle.gif);
	color: black;

}

.item2:hover{
	background: url(img/fin.gif);
	color: black;
	transition: 0.4s ease-in-out;
}


.item4:hover{
	background: url(img/3.gif);
	color: black;
	transition: 0.4s ease-in-out;

}


/*endportfolio/*/

/*--------------contact-------------*/



body.contact {
	background: url("img/bg3.jpg");
    	height: 125vh;
	background-size: cover;
	background-repeat: no-repeat;
}



.show-btn {
	 border: 1px solid white;
	border-radius: 7px 7px 7px 7px;
	padding: 10px 25px;
	font-size: 25px;
	display: inline-block;
	color: black; 
	background-color: #96a9ab;
	text-shadow: 2px 2px 8px black;
	
}

.arrr h1{
	padding-top: 150px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 47px;
	text-shadow: 2px 2px black;
}

.arrr p{
	height: 300PX;
	color: white;
	text-align: center;
	font-size: 25px;
}

.show-btn:hover{
	background-color: #a4b8ba;
	transition: 0.6s;
	box-shadow: 0 0 35px #91dce3;
}




.show-btn, .container{
	margin-top: 110px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 


}

.container{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 510px;
	background: rgba(235, 218, 218);
	padding: 60px;
}


#show:checked ~ .container{
	display: block;
}


.container .close-btn{
	position: absolute;
	right: 50px;
	top: 50px;
	cursor: pointer;

}



.container .close-btn:hover{
	color: #ff5f57;
	cursor: pointer;
}





.container .text{
	font-size: 40px;
	font-weight: 600;
    text-align: center;
}	

.container form .data{
	height: 8px;
	width:100%;
	margin: 30px 30px;

}

input[type=text]{
  width: 33%;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

label {
	font-size: 15px;
}

input[type=link]{
	 width: 60%;
	 padding: 10px 20px;

}

input[type=submit] {
  width: 100%;
  background-color: #2d2e30;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

}  


input[type=submit]:hover {
	background: #211e1e;
  


}


.container .close-btn{
	position: absolute;
	right: 50px;
	top: 50px;
	cursor: pointer;
}



#show{
	display: none;
}


/*cccccccccccccvvvvvvvvvvvv/**/


body.cv{
	background: url(img/cool.jpg);
	height: 200vh;
	background-size: cover;
	background-repeat: no-repeat;

}


#qwe{
	margin: 80px;
	padding: 0;


}

.info{
	background: black;
	height: 110px;
	text-align: center;
	font-size: 80px;
	color: white;
	
}


.page{
	margin: 0px;
	background: rgba(222, 255, 252, 0.9);
	height: 800px;
}


.resume{
    margin: 0px 10px;
	width: 600px;
	height: 300px;
	background: #fff;
	


}

.point{
	margin: 0px 20px;
	float: left;
}

.point li{
	font-size: 17px;
}



.right{
	margin-left: 680px;
}


.img{
	height: 20px;
	width: 10px;
}

.ani{
	background: white;
	height: 190px;
	width: 1150px;
	position: relative;
	margin-top: 400px;

}


.are{
	position: absolute;
	height: 190px;
	width: 1150px;
	

}
.are h1{
	color: white;
	text-align: center;

}
.are:hover{
	background: black;
	transition:0.3s;
}

.not{
	z-index: 9;
}

.not h2{
	color: black;
	text-align: center;
	font-size: 35px;
}


